@page
@model IndexModel

@{
    ViewData["Title"] = "Warehouse";
    var sortOrder = Request.Query["sortOrder"];
}

<h1>Warehouse</h1>
<hr />
<p>
    <a asp-page="Create" class="btn btn-primary">Add new item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="sortable-column @(sortOrder == "Name" || sortOrder == "name_desc" ? "active" : "")">
                <a asp-page="Index" asp-route-sortOrder="@(sortOrder=="Name"?"name_desc":"Name")">
                    @Html.DisplayNameFor(model => model.Item[0].Name)
                </a>
            </th>
            <th class="sortable-column @(sortOrder == "Quantity" || sortOrder == "quantity_desc" ? "active" : "")">
                <a asp-page="Index" asp-route-sortOrder="@(sortOrder=="Quantity"?"quantity_desc":"Quantity")">
                    @Html.DisplayNameFor(model => model.Item[0].Quantity)
                </a>
            </th>
            <th class="sortable-column @(sortOrder == "ItemVolume" || sortOrder == "volume_desc" ? "active" : "")">
                <a asp-page="Index" asp-route-sortOrder="@(sortOrder=="ItemVolume"?"volume_desc":"ItemVolume")">
                    @Html.DisplayNameFor(model => model.Item[0].ItemVolume)
                </a>
            </th>
            <th class="sortable-column @(sortOrder == "ItemPrice" || sortOrder == "price_desc" ? "active" : "")">
                <a asp-page="Index" asp-route-sortOrder="@(sortOrder=="ItemPrice"?"price_desc":"ItemPrice")">
                    @Html.DisplayNameFor(model => model.Item[0].ItemPrice)
                </a>
            </th>
            <th class="sortable-column @(sortOrder == "LastModificationDate" || sortOrder == "date_desc" ? "active" : "")">
                <a asp-page="Index" asp-route-sortOrder="@(sortOrder=="LastModificationDate"?"date_desc":"LastModificationDate")">
                    @Html.DisplayNameFor(model => model.Item[0].LastModificationDate)
                </a>
            </th>
            <th>
                Price of all items
            </th>
            <th>
                All volume
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationDate)
            </td>
            <td>
                    @(item.ItemPrice * item.Quantity)
            </td>
            <td>
                    @(item.ItemVolume * item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
